@charset "utf-8";

@import "~/assets/styles/colour.scss";


/* Button Styles */


/* Default */

  button {
    p {
      color: inherit;
    }
  }


/* Primary */

  .button.primary {
    text-align: center;
    color: $white;
    background-color: $purple;
    border: 0;
    border-width: 0;
    border-style: solid;
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 3rem;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;

    &:hover,&:focus {
      opacity: 0.75;
    }
  }




/* Secondary */

  .button.secondary {
    text-align: center;
    color: $white;
    background: none;
    border-width: 0.20rem;
    border-style: solid;
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;

    &:hover,&:focus {
      color: $red;
    }
  }




/* Tertiary */


/* CTA */

  .button.cta {
    color: $white;
    background: none;
    border-image: linear-gradient(120deg, rgba(248, 12, 128), rgba(60, 120, 244)) 1;
    border-width: 4px;
    border-style: solid;
    padding: 0.8rem 2rem;
    height: 4rem;

    &:hover {
        background: none;
        opacity: 0.75;
    }
  }