@charset "utf-8";


// Base Brand colours
$purple: #6028CC;
$red: #F80C80;
$blue: #3c78f4;
$black: #000;
$white: #fff;




/* Text Gradients */

.text-grad-01 {
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: -webkit-linear-gradient(120deg, rgba(248, 12, 128, 1), rgba(60, 120, 244, 1));
  -webkit-background-clip: text;
  background-clip: text;
}
