@charset "utf-8";

// Import a Google Font
// Fix for flash of invisible text issue (FOIT)
// @import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700&display=swap');


// Set your brand colors
$purple: #6028CC;
$pink: #FA7C91;
$red: #F80C80;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #58A6FF;
$navy: #64B6C4;
$teal: #18E4BE;
$black-ter: #212121;
$black: #000;
$white: #fff;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $navy;
$link-hover: $blue;


// Update Bulma's global variables
$family-sans-serif: 'Poppins', Helvetica, sans-serif;

$widescreen-enabled: true;
$fullhd-enabled: false;


// Update some of Bulma's component variables
$body-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// body class applied when mobile menu is activ
// document.body.classList.add("disableScroll")
.disableScroll {
    overflow: hidden;
}



// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

@import "../styles/font.scss";

@import "~/node_modules/bulma/bulma.sass";