@charset "utf-8";


// Set your brand colors
$purple: #6028CC;
$pink: #FA7C91;
$red: #F80C80;
$blue: #3c78f4;
$navy: #64B6C4;
$teal: #18E4BE;
$black-ter: #212121;
$black: #000;
$white: #fff;



// HTML, body


body {
  background-color: $black;
}




/* Hyperlinks */
/* Break off into its own file - 01/01/2023 */


a {
  color: $blue;
}


.nav-item {
  a {
    color: $blue;
  }

  a:hover {
    background: none;
    color: $red;
    opacity: 0.75;
  }

  .active {
    color: $red;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}




/* Text Gradients */

.text-grad-01 {
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: -webkit-linear-gradient(120deg, rgba(248, 12, 128, 1), rgba(60, 120, 244, 1));
  -webkit-background-clip: text;
  background-clip: text;
}


@import "~/assets/styles/font.scss";
@import "~/assets/styles/button.scss";