@charset "utf-8";


@import "~/assets/styles/font.scss";
@import "~/assets/styles/button.scss";
@import "~/assets/styles/colour.scss";


// Brand colours

$purple: #6028CC;
$red: #F80C80;
$blue: #3c78f4;
$black: #000;
$white: #fff;



// HTML, body, global elements

body {
  background-color: $black;
}




/* Hyperlinks */
/* Break off into its own file - 01/01/2023 */

a {
  color: $blue;
}

a:hover {
  background: none;
  color: $red;
  opacity: 0.75;
}

.active {
  color: $red;
  text-decoration: underline;
  text-underline-offset: 4px;
}