@charset "utf-8";

@import "~/assets/styles/font.scss";
@import "~/assets/styles/button.scss";
@import "~/assets/styles/colour.scss";


// HTML, body, global elements


  body {
    background: #000;
  }

// Tailwind Typography Overrides

  .prose {
    max-width: 100%;
  }

  p, li {
    color: #c4c4c4;
  }



/* Hyperlinks */
/* Break off into its own file - 01/01/2023 */

  a {
    color: $blue;
  }

  .nav-item {
    border: 0;

    a:hover {
      background: none;
      color: $red;
      opacity: 0.75;
    }
    
    .active {
      color: $red;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }